/* .fa-user-friends{
    background: -webkit-linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .fa-cog {
    color: black;
  } */
/* 
.dropDown{

} */

/* .fa-user-friends{
padding-right:10%;
} */