/* text input text */
.form {
    display: flex;
    background-color: #3a015c;
    
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 2%;
    width: 80%;
    font-size: 1.2em;
    background-color:#3a015c ;
    color:white;
    padding-left:4%;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }