html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  /* landing page form */
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #530d82;
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  /* landing page color */
  .heading {
    color: white;
    font-size: 3.5em;
    padding-bottom: 7px;
    /* border-bottom: 2px solid; */
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border-image-slice: 1;
    font-family: 'Arimo', sans-serif;
    margin-bottom: 11px;
  
    
    
  }
  
  

  button.button {
    border-radius: 100rem;
    padding: 1rem;
    font-family: 'Avenir Next';
    font-size: 1rem;
    padding: .5rem 3rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #531082 inset;
    cursor:pointer;
    margin-top: 30px;
  }
  
  button.button:hover {
    box-shadow: none;
    color: white;
    /* text-decoration: underline; */
    /* box-shadow: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%), */
    /* background-color: #91bd09;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 18px #91bd09; */
  }

  /* /// */
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  /* button:focus {
    outline: 0;
  }


 
 .button:hover {
    background-color: blue;
    color:white;
 } */